<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtuse.dao.mapper.StudentMapper">
<!--  <select id="findById" parameterType="int" resultType="com.xjtuse.entity.Student">-->
<!--  	SELECT-->
<!--		stu_name,stu_sex,stu_age,stu_pro,stu_id-->
<!--	FROM student-->
<!--	WHERE stu_id = #{id}-->
<!--  </select>-->
<!--  -->
<!--  <select id="findAll" parameterType="int" resultType="com.xjtuse.entity.Student">-->
<!--  	SELECT-->
<!--		stu_name,stu_sex,stu_age,stu_pro,stu_id-->
<!--	FROM student-->
<!--  </select>-->
<!--  -->
<!--  <select id="search" parameterType="int" resultType="com.xjtuse.entity.Student">-->
<!--  	SELECT-->
<!--		stu_name,stu_sex,stu_age,stu_pro,stu_id-->
<!--	FROM student-->
<!--	WHERE stu_age = #{age} and stu_id = #{id}-->
<!--	-->
<!--  </select>-->
    
  <insert id="insert" keyProperty="stuId" parameterType="com.xjtuse.entity.Student">
    INSERT INTO students VALUES (#{stuentID}, #{studentName},#{studentAge},#{studentGender},#{studentClass}, #{studentEmail}, #{studnetUsername}, #{studnetPassword}, #{insertDate})

  </insert>
<!--  -->
<!--  <delete id="delete" parameterType="int">-->
<!--    DELETE FROM student WHERE stu_id = #{id}-->
<!--  </delete>-->
<!--  -->
<!--  <update id="update" parameterType="com.xjtuse.entity.Student">-->
<!--    UPDATE student SET stu_name=#{stuName}, stu_sex=#{stuSex}, stu_age = #{stuAge},stu_pro = #{stuPro} WHERE stu_id = #{stuId}-->
<!--  </update>-->
</mapper>